.services__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }

  .services__title {
    margin-bottom: 31px;
  }

  .service {
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .service:hover {
    .service__img {
      filter: brightness(90%); /* затемнение на 30 % */
    }
    .service__title {
      background-color: var(--rozovyy-norm);
    }
  }

  .service__title {
    padding: 12px 0 13px;
    text-align: center;
    height: 42px;
    font-size: 18px;
  }