// CONTACTS
section.contacts.section-box.none
    .container
        .contacts__content
            .contacts__col
                h2.contacts__title.section-title Контакты
                .contacts__social
                    .contacts__social-item
                        span График работы
                        p Пн-Вс: 9:00-21:00
                    .contacts__social-item
                        span Cоциальные сети
                        .social-group
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-group__link
                                svg.svg-insta
                                    use(href="./img/spriteSvg.svg#svg-insta")
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-group__link
                                svg.svg-wa
                                    use(href="./img/spriteSvg.svg#svg-wa")
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-group__link
                                svg.svg-vk
                                    use(href="./img/spriteSvg.svg#svg-vk")
                    .contacts__social-item
                        span Адрес
                        p Г. Магас, Кайсына Кулиева 32
                    .contacts__social-item
                        span Номер для связи
                        a(href="tel:84957777777") 8 (495) 777-77-77
            // CONTACTS MAP
            .contacts__map
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A11f3c0b40a04da5c5e7b5871c83895b5650cd7ba52b6fa14ff0e30418b2d9b53&amp;source=constructor" width="428" height="280"></iframe>
