footer.footer.none
    .container
        .footer__content
            a(href="#!").footer__logo
                img(src="./img/logo.webp" srcset="./img/logo@2x.webp 2x" alt="логотип" width="124" height="53" loading="lazy")
