header.header-top
   .container
      .header-content
         button.menu-toggle
            span
         a(href="#!").logo
            img(src="./img/logo.svg" alt="logo")
         ul.header__contacts
            li.header__contacts-item Г. Магас, Кайсына Кулиева 32
            li.header__contacts-item Пн-Вс: 9:00-21:00
            li.header__contacts-item
               a(href="tel:84951459033") 8 (495) 145-90-33





