header.header
   .header-top
      button.menu-toggle
         span
      a(href="#!").logo
         img(src="./img/logo.webp" srcset="./img/logo@2x.webp 2x" alt="логотип" width="124" height="53" loading="lazy")
      ul.header__contacts
         li
            p Г. Магас, Кайсына Кулиева 32
         li
            p Пн-Вс: 9:00-21:00
         li
            a(href="tel:84951459033") 8 (495) 145-90-33
   .header-banner
      .container
         .header-content
            h1.headline Любите себя! <br> Остальное - наша работа
            .social-icons
               a(href="#!" target="_blank" rel="noopener noreferrer")
                  img(src="./img/icons/instagram.svg" alt="instagram" width="33" height="33")
               a(href="#!" target="_blank" rel="noopener noreferrer")
                  img(src="./img/icons/whatsapp.svg" alt="whatsapp" width="33" height="33")
               a(href="#!" target="_blank" rel="noopener noreferrer")
                  img(src="./img/icons/vk.svg" alt="vkontakte" width="33" height="33")





