// INSTAGRAM
section.instagram.section-box
    .container
        h2.instagram__title.section-title Наш<br> инcтаграм
        .instagram__content
           p.instagram__text
           a.instagram__link(href="#!")

