// INSTAGRAM
section.instagram.section-box.none
    .container
        h2.instagram__title.section-title Наш<br> инcтаграм
        .instagram__content
            .instagram__col
                // INSTAGRAM TEXT
                .instagram__text
                    p На своей страницe в Instagram мы подробно рассказываем обо всех процедурах нашего салона, делимся любимыми лайфхаками наших специалистов и ведем активную запись по всем услугам. Присоединяйтесь!
                    a(href="#!") Перейти в Instagram
            // INSTAGRAM SLIDER
            .swiper.instagram-slider
                .swiper-wrapper
                    .swiper-slide
                        .instagram-photo
                            img(src="./img/instagram/insta01.webp", alt="маникюр", width="204", height="250")
                    .swiper-slide
                        .instagram-photo
                            img(src="./img/instagram/insta02.webp", alt="маникюр", width="204", height="250")
                    .swiper-slide
                        .instagram-photo
                            img(src="./img/instagram/insta03.webp", alt="прическа", width="204", height="250")
                .swiper-pagination


