// SERVICES
section.services.section-box
    .container
        h2.services__title.section-title Услуги<br> и цены
        // SERVICES GRID
        .services__content
            // SERVICE CARD
            a(href="#!").service
                .service__img
                    img(src="./img/services/service01.webp" srcset="./img/services/service01@2x.webp 2x" alt="парикмахерские услуги" width="388" height="230" loading="lazy")
                .service__title Парикмахерские услуги
            // SERVICE CARD
            a(href="#!").service
                .service__img
                    img(src="./img/services/service02.webp" srcset="./img/services/service02@2x.webp 2x" alt="парикмахерские услуги" width="388" height="230" loading="lazy")
                .service__title Nail bar
            // SERVICE CARD
            a(href="#!").service
                .service__img
                    img(src="./img/services/service03.webp" srcset="./img/services/service03@2x.webp 2x" alt="парикмахерские услуги" width="388" height="230" loading="lazy")
                .service__title Brow bar / Макияж
            // SERVICE CARD
            a(href="#!").service
                .service__img
                    img(src="./img/services/service04.webp" srcset="./img/services/service04@2x.webp 2x" alt="парикмахерские услуги" width="388" height="230" loading="lazy")
                .service__title Эпиляция / Депиляция
