.svg-zoom {
    width: 30px;
    height: 30px;
}

.svg-arrow {
    width: 16px;
    height: 8px;
}

.social-icons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    column-gap: 31px;

    .svg-insta, .svg-vk, .svg-wa {
        width: 33px;
        height: 33px;
        color: var(--rozovyy-norm);
    }
}

.social-icons a:hover {
    opacity: .7;
}

.social-group {
    display: flex;
    align-items: center;
    column-gap: 23px;

    .svg-insta, .svg-vk, .svg-wa {
        width: 25px;
        height: 25px;
        color: #000;
    }

    .svg-insta:hover, .svg-vk:hover, .svg-wa:hover {
        color: var(--rozovyy-norm);
    }
}


