:root {
	--container-width: 828px;
	--container-padding: 15px;

	--font-main: "Montserrat", sans-serif;
	--second-family: "Kudryashev Display", sans-serif;

	--rozovyy: #f2d3ce;
	--bezhevyy: #e7dbdd;
	--seryy: #f4f2f3;
	--rozovyy-norm: #efb7b7;
}