.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 160px;
    column-gap: 10px;
    cursor: pointer;
    white-space: nowrap;
    padding-inline: 10px;
    height: 40px;
    transition: 0.3s;
    border-radius: 30px;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 1.16;

    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--rozovyy-norm);

    &:hover {
        background-color: lighten($color: #efb7b7, $amount: 5%);
    }
}