extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	main
		include ../sections/discount.pug
		include ../sections/services.pug
		include ../sections/interior.pug
		include ../sections/profi.pug
		include ../sections/instagram.pug
		include ../sections/contacts.pug
	include ../sections/footer.pug












